hr {
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 10%;
}
body {
    background-image:url('asma.jpg');
}
h1 {
    color: #793FDF;
    
}
h3 {
    color: blueviolet;
}